.header-main-wrapper {
  width: 100%;
  height: 70px;
  padding: 20px 20px 0 20px;
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navbar-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--primary-gray-color);
}

.header-navbar-link {
  text-decoration: none;
  color: var(--primary-gray-color);
  font-family: var(--font-mulish);
  font-size: 20px;
  font-weight: 600;
}

.header-cart-icon-container {
  background-color: var(--primary-blue);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* cta is call to action */
.cta-header-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
